# Node.js modules
node_modules/

# Env variables
.env

# Firebase service account key (clave privada)
vecinojuliobot-firebase-adminsdk-fbsvc-0e4f7eabbc.json

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db
